.title {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-size: 30pt;
}

.pencegahan {
    margin-left: 270pt;
    margin-right: 270pt;
}

.container2 {
    background-color: red;
}

.mari {
    color:black;
    font-weight: bold;
    text-align: center;
}